.loginBox {
    margin : 0 auto;
    width: 30vw;
	height : 70vh;
	background: rgba(255,255,255,1);
	position: fixed; 
    top: 40%; 
    left: 50%; 
	margin-top : -35vh;
	margin-left : -15vw;
    border: 1px solid black;
}

.loginForm {
	display: block;
	text-align: center;
}

.loginLabel {
	font-size : 200%;
}

.loginUsernameWrapper{
	margin-top: 4vh;
	height: 6vh;
	border : 1px solid black;
	border-left: none;
	border-right: none;
	position: relative;
}

.loginUsernameInput{
	height: calc(6vh - 2px);
	font-size : 100%;
	border : 0px;
	position: absolute;
	width : calc(25vw - 6px);
	top: 0;
	left: 5vw;
	bottom: 0;
	right: 0;
}

.loginUsernameSpan {
	height: calc(6vh - 2px);
	width: 5vw;
	position: absolute;
	border : 0px;
  	left: 0 ;
	top: : 0 ;
	right: : 0 ;

}

.loginPasswordWrapper{
	margin-top: 4vh;
	height: 6vh;
	border : 1px solid black;
	border-left: none;
	border-right: none;
	position: relative;
	vertical-align: middle;
}

.loginPasswordInput{
	height: calc(6vh - 2px);
	font-size : 100%;
	border : 0px;
	position: absolute;
	width : calc(25vw - 6px);
	top: 0;
	left: 5vw;
	bottom: 0;
	right: 0;
}

.loginPasswordSpan{
	height: calc(6vh - 2px);
	width: 5vw;
	position: absolute;
	border : 0px;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
}


.loginSubmit{
	height : 6vh;
	background-color : rgba(255,200,0,0.7);
	box-sizing: border-box;
}

