@import "loginMainContainer.css";
@import "../../Global/Css/styles.css";
@import "loginForm.css";

.lowerBodyContainer {
	top : 0;
    width: auto;
    left: 1vw;
    right: 1vw;
    display : flex;
    position: absolute;
	height : 100vh;
	background: rgba(255,200,0,0.0);
}

